{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dash.js') }}"></script>
{% endblock %}

{% block nav %}
    <li class="active"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('settings.settings') }}">Settings</a></li>
{% endblock %}
{% block navhack %}
    <p class="navbar-text pull-right"><a href="/logout">Log out</a></p>
{% endblock %}

{% block content %}
    {{ super () }}
        {%- if renderers -%}
        <div class="row">
            <button class="btn btn-primary" id="refresh">Refresh</button>
        </div>
        {% endif %}
        <div id='channel-container' class="row"
             data-channels='{{ renderers }}'>
            {%- if renderers -%}
                Loading...
            {% else %}
                You don't seem to have any channels enabled. You can add some in
                <a href="javascript:alert('NotImplementedError')">Settings</a>.
            {% endif %}
        </div>
{% endblock %}
