{% extends "layout.html" %}
{% block title %}OAuth Token Fetch{% endblock %}
{% block content %}
{% if twitter_url %}
To Authorize this app to use your Twitter data please click <a target="_blank" href={{twitter_url}}>here</a>

<form method=get action="/twitter_verification">
  The Verification code:<input type = "text" name = "verification_code"/>
  <input type=submit value="Submit code">
</form>

{% endif %}
{% if facebook_url %}
To Authorize this app to use your Facebook data please click <a href={{facebook_url}}>here</a>

{% endif %}
{% endblock %}