{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block nav %}
    <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for_security('register') }}">Register</a></li>
{% endblock %}
{% block navhack %}
    <form class="navbar-form pull-right" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ form.hidden_tag() }}
        <input id="email" class="form-control" name="email" type="text" placeholder="Email" value>
        <input id="password" class="form-control" name="password" type="password" placeholder="Password" value>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
{% block content %}
<h1 id="marketing-title"> Welcome to Notifyable </h1>
<h2> Your hackable, self-hosted aggregation system for the content that you really care about.</h2>

<a class='btn btn-primary btn-large' href="{{ url_for_security('register') }}">Sign up now</a>

<p> With a simple at-a-glance aesthetic and a few common services already baked in, you will find Notifyable a useful addition with these features:</p>
<ul class="feature-list">
    <li> Facebook integration - See recent OpenGraph events </li>
    <li> Twitter integration - Recent tweets and follower events </li>
    <li> RSS hooks - See the top of your favorite feeds </li>
    <li> Github hooks - Did the repo admin finally merge your pull request? </li>
    <li> Simple and comprehensible API for adding new hooks, be they OAuth or otherwise </li>
</ul>
{% endblock %}
